@if (isLoggedIn) {
  <div style="padding: 20px; background-color: #f9f9f9;">
    <h2 style="text-align: center; color: #ff5722;">Меню филиала 🍔</h2>

    <div style="display: flex; gap: 20px; flex-wrap: wrap;">
      @for (item of products; track item.id) {
        <div style="border: 1px solid #ddd; padding: 15px; width: 220px; background: white; border-radius: 15px; text-align: center;">
          <h4>{{ item.name }}</h4>
          <p>{{ item.description }}</p>
          <p>{{ item.price }} ₸</p>
          <button
            (click)="addToCart(item)"
            style="background: #ff5722; color: white; border: none; padding: 10px; width: 100%; border-radius: 8px; cursor: pointer;">
            В корзину
          </button>
        </div>
      }
    </div>
  </div>
} @else {
  <div style="text-align: center; margin-top: 100px;">
    <h2>Чтобы посмотреть меню, нужно войти в систему</h2>
  </div>
}